.App {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #16a085;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(22, 160, 133, 0.8);
  height: 80px;
  width: 100%;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
}

#AppTitle {
  color: white;
  padding-left: 2rem;
  font-size: 2.5rem;
}

#navagation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navagationButton {
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 3px;
  border-style: inset;
  margin: 0.5rem;
  margin-top: 2rem;
}

#centeredContent{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginSignupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 50%;
  flex-direction: column;
  border-radius: 4px;
  border-color: black;
  border-style: dotted;
}

#loginSignupTitle {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  font-weight: normal;
}

#loginSignupForm {
  font-size: 1.7rem;
}

#loginSignupInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#formInput {
  width: 80%;
  height: 30px;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  margin: 0.5rem;
  border-width: 1px
}

#submitButton {
  width: 60%;
  height: 35px;
  margin: 1rem;
  font-size: 1.5rem;
}
